.search-container {
  position: relative;
  display: inline-block;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
  }
  .search-results {
    position: absolute;
    z-index: 1;

    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    // input[type="text"]:placeholder-shown::before {
    //   width: 50px;
    //   content: url(https://img.icons8.com/ios-glyphs/70/search--v1.png);
    //   margin-right: 5px;
    // }
    li {
      cursor: pointer;
      padding: 5px;
      div {
        display: flex;
        text-align: center;
        img {
          width: 50px;
          margin: 2px;
          border-radius: 40%;
          margin-right: 10px;
        }
        p {
          color: white;
          margin-top: 10px;
        }
      }
    }
  }
}
