.userList {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .activeUserCheckBoxContainer {
    .switch {
      display: inline-block;
      margin: 10px;
    }
    .switch input {
      display: none;
      margin: 5px;
    }

    .switch label {
      display: block;
      width: 75px;
      height: 30px;
      padding: 6px;
      border-radius: 30px;
      border: 2px solid #7e8382;
      cursor: pointer;
      transition: 0.3s;
    }

    .switch label::after {
      content: "";
      display: inherit;
      width: 30px;
      height: 30px;
      border-radius: 24px;
      background: green;
      transition: 0.3s;
    }

    .switch input:checked ~ label {
      border-color: green;
    }

    .switch input:checked ~ label::after {
      translate: 40px 0;
      background: rgb(255, 0, 0);
    }

    .switch input:disabled ~ label {
      opacity: 0.5;
      /* cursor: not-allowed; */
    }

    .switch.square label,
    .switch.square label::after {
      border-radius: 0;
    }
  }
  .userLists {
    display: flex;
    .user {
      display: flex;
      .profilePhoto {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
    p {
      margin: 6px;
      color: white;
    }
    span {
      margin-top: 4px;
    }
  }
}
